node_modules/
__pycache__
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
media/
django.mo
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
venv
.coverage
.cache